---
id: "root"
name: "Alex!"
---
<html lang="en">
<head>
  <title>Practicum</title>
</head>
<body>
<div id="{{id}}" class="main"></div>
<span>{{name}}</span>

<script src="src/index.js" type="module"></script>
</body>
</html> 