---
title: Chat
avatar-man: https://qph.fs.quoracdn.net/main-thumb-74641939-200-jbhncquhoaqhiderryhazssxtkemxdhq.jpeg
avatar-girl: https://www.vindyputri.com/wp-content/uploads/2016/01/7b6f5523240799.5632176f43717.png
stylesheets:
- ./chat.scss
scripts:
- ./chat.ts
---

{{#extend "baseHTML"}}
  {{#content "main"}}
    {{> nav-menu}}

    <main class="page page-chat">
      <div class="chat-sidebar">
        <div class="sidebar__profile">
          {{> avatar-icon url="https://cs6.pikabu.ru/avatars/1628/v1628506-2030821899.jpg"}}
          <div class="profile__link-view">
            <a href="../user-settings/user-settings.hbs"><i class="fas fa-cogs"></i> My profile</a>
          </div>
        </div>
        <div class="sidebar__search">
          <label>
            <input type="search" placeholder="Search...">
          </label>
        </div>
        <div class="sidebar__listing">
          <div class="listing__chat">
            {{> avatar-icon url=avatar-girl}}
            {{> listing-chat user="Kate" time="19:56" text="Hi! how are you? What are you doing?" count="1"}}
          </div>

          <div class="listing__chat listing__chat_active">
            {{> avatar-icon url=avatar-girl}}
            {{> listing-chat user="Alina" time="Yesterday" text="Hi! how are you?" count="9+"}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-man}}
            {{> listing-chat user="Александр" time="Yesterday" text="Hello!" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-girl}}
            {{> listing-chat user="Anya" time="Two days ago" text="Hello!" count="7"}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-girl}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-man}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-man}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-girl}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-man}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count=""}}
          </div>

          <div class="listing__chat">
            {{> avatar-icon url=avatar-man}}
            {{> listing-chat user="Noname" time="Year ago" text="Hai" count="3"}}
          </div>
        </div>
      </div>
      <div class="chat-dialog">
        <div class="dialog__header">
          {{> avatar-icon url=avatar-man}}
          <span>Alina</span>
        </div>
        <div class="dialog__messages">
          <!--          <div class="messages__common messages__own">Hello</div>-->
          <!--          <div class="messages__common messages__other">What are you doing?</div>-->
          <!--          <div class="messages__common messages__own">Running</div>-->
          <!--          <div class="messages__common messages__own">And you?</div>-->
          <!--          <div class="messages__common messages__other">I also run</div>-->
        </div>
        <div class="dialog__form">
          <form>
            <label>
              <input type="text" placeholder="Type here...">
            </label>

            <button type="submit">
              <i class="fab fa-telegram-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}