.chat-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100% - #{$sidebar-width});
  min-width: 300px;
  padding: 10px 15px;
  box-sizing: border-box;

  .dialog__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;

    .avatar-icon img {
      @include size-img(40px);
    }

    span {
      margin-left: 15px;
      color: white;
    }
  }

  .dialog__messages {
    padding: 10px 0;
    height: 100%;

    .messages__common {
      color: white;
      margin-bottom: 10px;
    }

    .messages__own {
      text-align: right;
      color: $blue-lite;
    }

    .messages__other {
      text-align: left;
    }
  }

  .dialog__form {
    form {
      display: flex;
      width: 100%;
      margin-bottom: 0;

      label {
        width: 100%;
      }

      input {
        width: 100%;
        border: none;
        background: $blue-mute;
        color: white;
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        outline: none;
      }

      button {
        border: none;
        border-radius: 50%;
        background: $blue-lite;
        color: white;
        width: 40px;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 10px;
        transition: .2s;

        &:hover {
          background: $blue;
          transition: .2s;
        }
      }
    }
  }
}