---
title: Server 500
stylesheets:
- ./500.scss
scripts:
- ./500.ts
---

{{#extend "baseHTML"}}
  {{#content "main"}}
    {{> nav-menu}}

    <main class="page page-500">
      {{> error-redirect title="500" desc="We'll fix it soon"}}
    </main>
  {{/content}}
{{/extend}}