<div class="chat__preview">
  <div class="chat__preview-meta">
    <div class="chat__preview-name">
      {{user}}
    </div>
    <div class="chat__preview-time">
      {{time}}
    </div>
  </div>
  <div class="chat__preview-msg">
    <div class="chat__preview-text">
      {{text}}
    </div>
    <div class="chat__preview-count">
      <span>{{count}}</span>
    </div>
  </div>
</div>