<nav class="nav-menu">
  <a href="/" class="nav-menu__item">Auth</a>
  <a href="../reg/reg.hbs" class="nav-menu__item">Reg</a>
  <a href="../404/404.hbs" class="nav-menu__item">404</a>
  <a href="../500/500.hbs" class="nav-menu__item">500</a>
  <a href="../chat/chat.hbs" class="nav-menu__item">Chat</a>
  <a href="../user-settings/user-settings.hbs" class="nav-menu__item">User</a>
</nav>