<nav class="nav-menu">
  <a href="/" class="nav-menu__item">Auth</a>
  <a href="" class="nav-menu__item">Reg</a>
  <a href="" class="nav-menu__item">404</a>
  <a href="" class="nav-menu__item">500</a>
  <a href="" class="nav-menu__item">Chat</a>
  <a href="" class="nav-menu__item">User</a>
</nav>