---
title: Server 404
stylesheets:
- ./404.scss
scripts:
- ./404.ts
---

{{#extend "baseHTML"}}
  {{#content "main"}}
    {{> nav-menu}}

    <main class="page page-404">
      {{> error-redirect title="404" desc="You left the route"}}
    </main>
  {{/content}}
{{/extend}}