---
title: Index
name: Aleksandr
stylesheets:
- ./index.scss
scripts:
- ./index.ts
---

{{#extend "baseHTML"}}
  {{#content "main"}}
    <main>
      <div id="root"></div>
      <div>{{name}}</div>
      <a href="./pages/login/login.hbs">login</a>
    </main>

    {{> button buttonName="save" buttonClass="save"}}
    {{> button buttonName="reset" buttonClass="reset"}}
    {{> button buttonName=name}}
  {{/content}}
{{/extend}}
