---
title: Authorization
scripts:
- ./index.ts
---

{{#extend "baseHTML"}}
  {{#content "main"}}
    <main class="page page-index">
      <div class="form-wrap">
        <div class="form-title">Login</div>

        <form class="form">
          <div class="form__auth-fields">
            {{> auth-input title="Login" type="text" name="login" placeholder="Zevs"}}
            {{> auth-input title="Password" type="password" name="password" placeholder="*******"}}

            <div class="form__errors" hidden>Not valid login or password!</div>
          </div>

          {{> auth-button title="Enter"}}

          <div class="form__switch">
            <a href="pages/reg/reg.hbs">Registration</a>
          </div>
        </form>
      </div>
    </main>
  {{/content}}
{{/extend}}
