@import "~normalize-scss";
@import './variables';
@import './nav-menu';

body {
  font-family: verdana, serif;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #223;
}

//Page
.page {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


